<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="box">
        <h1>Available dates</h1>
        <form [formGroup]="formGroup" (ngSubmit)="addAvailableDate()">
          <mat-form-field>
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="availableDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <button class="add-date-button" [disabled]="!formGroup.valid" mat-raised-button type="submit">
            Add date
          </button>
        </form>
        <table mat-table [dataSource]="dataSource$ | async" class="table">
          <ng-container matColumnDef="dateTime">
            <th mat-header-cell *matHeaderCellDef>{{ 'DATE_AND_TIME' | translate }}</th>
            <td mat-cell *matCellDef="let session">
              {{ session.date | date: 'dd.MM.yyyy - hh:mm' }}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row class="table-row" *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="[2, 3, 5, 20]">
        </mat-paginator>
        <button mat-raised-button type="button" class="btn-block" routerLink="/profile">
          Back
        </button>
      </div>
    </div>
  </div>
</div>