<div class="login-wrapper">
  <mat-card class="box">
    <mat-card-content>
      <h1>Avatar here...</h1>

      <strong>Username</strong>
      <p>
        Learn one way to build applications with Angular and reuse your code and
        abilities to build apps for any deployment target. For web, mobile web,
        native mobile and native desktop.
      </p>

      <strong>Email</strong>
      <p>jasda@gmail.com</p>

      <strong>Gender</strong>
      <p>Male</p>

      <strong>Description</strong>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>

      <strong>Notes</strong>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt
      </p>
    </mat-card-content>
  </mat-card>
</div>
