.snackbar-info {
  background: lightgrey !important;
  color: #1995d1;
}

.snackbar-warning {
  background: lightgrey;
  color: #cfad0a;
}

.snackbar-error {
  background: lightgrey;
  color: #c73b0a;
}

.snackbar-success {
  background: lightgrey;
  color: #00b805 !important;
}
